<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/style.css">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @property --num {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
        }

        div {
          transition: --num 5s;
          counter-set: num var(--num);
          font: 800 40px system-ui;
        }
        div::after {
          content: counter(num);
        }
        div:hover {
          --num: {{name}};
        }
    </style>
</head>
<body>
find your rating below:
<br>
<div></div>
</body>
</html>