<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @property --num {
        syntax: "<integer>";
        initial-value: 0;
        inherits: false;
        }

        div {
          transition: --num 2s;
          counter-set: num var(--num);
          font: 800 40px system-ui;
        }
        div::after {
          content: counter(num);
        }
        div:hover {
          --num: {{name}};
        }
    </style>
</head>
<body>
find your rating below:
<br>
<div></div>
<br>
<br>
<br>
<br>
Final position:
<br>
<br>
<img src="data:image/svg+xml;base64,{{ svg_base64 }}" alt="Fetched SVG Image" width = "350", height = "350">

</body>
</html>